In [18]:
import pandas as pd
from pathlib import Path
from sklearn.cluster import AgglomerativeClustering
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
df = pd.read_csv(Path("../data/cincy311_cleaned.tsv"), delimiter = "|")

In [42]:
unique_codes = df.service_code.str[1:-1].unique().tolist()

In [43]:
unique_codes

['BLD-RES',
 'PLMB_DEF',
 'HNDCPPRK',
 'GRCRYCNC',
 'ROACHES',
 'BD_UNSAN',
 'LITR-PRV',
 'SRVCMPSC',
 'MOLD',
 'DMGTROD',
 'BLDRRFIF',
 'RATS',
 'BLD_VACR',
 'SVCCMPLT',
 'SIDWLKH',
 'STRRPR',
 'NW/MSSNG',
 'DUMP-PVS',
 'BLD_VACC',
 'MICE-BLD',
 'LGHT,NWS',
 'DOG_WSTE',
 'PRKNGYRD',
 'PAVMK',
 'ABAN-VPR',
 'DFLTPARK',
 'ADASDWKO',
 'SGNSHPNI',
 'CRNCAN-N',
 'SWGTSDOP',
 'ANIMBDOG',
 'GRFITI',
 'BLD-COM',
 'TLGR-PRV',
 'BLD_USER',
 'TRTRIMUF',
 'CLEAN-ST',
 'RTSNSWR',
 'RCNEWLIC',
 'USE_R',
 'SVCCMPLY',
 'NCRHMNT,',
 'HEAT',
 'SIGNREMV',
 'SRVCMPCS',
 'TLGR-PS',
 'GUARDR',
 'FOOD_RES',
 'TRFFCSLN',
 'FDBRNLLN',
 'ABAN-VNA',
 'TREEPR',
 'SEWAG_EX',
 'FENCLINR',
 'CBHBBE',
 'TTRMPVUF',
 'LTRSTPNH',
 'FACTPARK',
 'CPARKF-C',
 'RQSTNGHB',
 'LIGHTSIH',
 'PLANTERS',
 'TPLANT',
 'SGNL,TNW',
 'CHNGFLSH',
 'FRHYDRNT',
 'BLDFRESC',
 'HOMEOWNI',
 'STERMPRK',
 'SGNL,TRF',
 'RATSOUT',
 'RSTRNTRC',
 'BUSFMRES',
 'SDWLK,NW',
 'LTTR-BLD',
 'WDSBSTRC',
 'STRTPLTC',
 'CAFESRSP',
 'BLD_COLL',
 'RSTRNTIC',
 'BKRCKRQS',
 'BDBGHOTL',
 'BUSSTRSP',
 'TRBVPRUF',
 'AWNING',
 'ADACONSN',
 'ZONCCER',
 'IASSESSM',
 'FDSRVCUN',
 'ADACALTP',
 'MLDCHLDR',
 'TSTUMPUF',
 'BLDCNPR',
 'BNCHS,DT',
 'VDRPRCW',
 'TRBV-UF',
 'DDNML,PR',
 'NWTRFFCS',
 'FDBRNCMP',
 'UNSANHOT',
 'AN_WASTE',
 'FLSNPRTB',
 'USE_C',
 'STERMUNS',
 'STERMOVR',
 'WTR_NO',
 'ERC_PV',
 'BLDUNSR',
 'BLD_USEC',
 'CAG_PPDV',
 'PARKINGC',
 'ADACBRMP',
 'SCH_PLMB',
 'FENCMTLR',
 'BLD_RFIC',
 'LTTRRST',
 'RCHSCHLR',
 'RSTRNTIE',
 'NMPRVDST',
 'NSTTTNUC',
 'BLDNOPC',
 'BLD-ELEH',
 'SMOKEDET',
 'SIGN_ZR',
 'CBHCCE-C',
 'BLDFACAD',
 'BLDFRFAC',
 'LIGHTSIB',
 'PAVEMARK',
 'BDOVCRDR',
 'TLGR-PRB',
 'CONCOLOR',
 'OTHERRSP',
 'PRIVUTAB',
 'SIGNFREE',
 'LIGHREMV',
 'SIGN_ZC',
 'BLDCRFIF',
 'EXIT_B',
 'ZONCCE',
 'DWAYPPST',
 'RTSCHLDR',
 'GATEWAY',
 'BENCHES',
 'PLMB PV',
 'HISTMARC',
 'FENCE',
 'C19GMASK',
 'HOLEPR-H',
 'SDWKRP',
 'FRDRLCK',
 'CBHCCE',
 'OPENBURN',
 'STERMSAF',
 'LNDSLP',
 'TRREPR',
 'TRSHCRTR',
 'MTL-FRN',
 'CITYCONI',
 'SWAP64',
 'PTHOLE',
 'MSSNGSTR',
 'TIRES',
 'REMOVE',
 'RWFRNTRT',
 'YDWSTA-J',
 'RF-COLLT',
 'TGGDCLLC',
 'MSSNGPRP',
 'TRSHNTRL',
 'TRASH-I',
 'NEW64CRT',
 'CAN-DAMG',
 'NEW96CRT',
 'DFLTCITY',
 'SCLEN1',
 'DAPUB1',
 'SWAP96',
 'DFLTPLC',
 'RCYCLNG',
 'STRTLITE',
 'REPAIR64',
 'TRSHCITE',
 'TSIG-MAL',
 'REPAIR96',
 'STTSRVC',
 'TDWNLDUF',
 'CONTAMRE',
 'LTSTT',
 'RECCINFO',
 'YRDWSTTC',
 'STRSGN',
 'CNTRCTR',
 'CURBREP',
 'NEW35CRT',
 'SLPYST',
 'CRNRCNOF',
 'WTRLKSBK',
 'BLKYTMST',
 'SGNDNA',
 'STRTPLTM',
 'STLPLTS,',
 'MUD',
 'REPLCE96',
 'TRSHRQNS',
 'SRVCMPLT',
 'FIRESPCL',
 'TRSHCRTE',
 'SRVCMPLR',
 'TRSHCNCD',
 'SRVCOMG',
 'MOLDHOTL',
 'MTL-FRNS',
 'VD,DTNST',
 'SCOMPLSC',
 'ILLHOMEC',
 'TRSHREMV',
 'TREESPLT',
 'TRSHPARK',
 'STERMBHV',
 'STERMNOI',
 'EXTING',
 'STSGN',
 'NLTSCLG',
 'SWAP35',
 'ANNUALC',
 'ODOT',
 'SCARACCS',
 'SPDHMPS',
 'TRSHONAR',
 'MNHLCVRM',
 'TRASH-L',
 'STRRPRG',
 'RTNNGWLL',
 'TPAMANDR',
 'FENCMTLC',
 'DFLTDOTE',
 'PRKNGMTR',
 'NEW18CRT',
 'REPLCE64',
 'TRASH-E',
 'CAVEIMSD',
 'SLPYST-H',
 'DFLTACCS',
 'TIRESRTC',
 'SNKNRRP',
 'CRNCAN-D',
 'DMGNOD',
 'RWTRDMPN',
 'TRMISS65',
 'DFLTMSD',
 'NW-MSSNG',
 'SRVCCPRU',
 'HLSDSP',
 'PLAYPARK',
 'BDBGSRQ',
 'RLCTNRQS',
 'VACANT',
 'AMNESTYL',
 'TRNEW65',
 'WASTECMP',
 'DMPSTR-H',
 'LTTR-PRB',
 'SPILL-N1',
 'BLD_BAR',
 'FENC-REP',
 'BARRIC',
 'WTRPNDNG',
 'TLGR-BLD',
 'REPAIR35',
 'NWGRDRL',
 'SCARCRIM',
 'DMGCLM',
 'DFLTMSDS',
 'BLD-ELVP',
 'NFRMTNRQ',
 'SCH_MOLD',
 'THORN-UF',
 'STERMURU',
 'DFLTPRKG',
 'DFLTCWW',
 'RCNBTSRM',
 'SCHLANNL',
 'SPHLTCMP',
 'IN-CLSPD',
 'NSTTTNRM',
 'NW/CHNGV',
 'MDDVSWNO',
 'BLD-ELIC',
 'LTTR-PRK',
 'SGNL_TNW',
 'SGNVRHD',
 'DFLTRCR',
 'HLSDSP-H',
 'GRAFPARK',
 'DNS-IN',
 'VOID-REP',
 'TLGR-DTE',
 'LTTR-REC',
 'STRTHVD',
 'STORGHOT',
 'LGHT,TSN',
 'LANDMPS',
 'VFLSHFIL',
 'MSQTSPN',
 'GYMSHSW',
 'YRD-WSTE',
 'FRHYDNTR',
 'REPLCE18',
 'LTTR-HLT',
 'CBHDSS',
 '6MNTHNSP',
 'PDSTLLGH',
 'LOT_VACE',
 'TRSBLCKS',
 'CAG_CSRM',
 'CTZNCMPL',
 'SRVCCMPL',
 'SRVCPLCS',
 'BLD-DUNS',
 'SCARSCLN',
 'MDDVSRY',
 'HIKEPARK',
 'RLRDSCOM',
 'LRWLIGHT',
 'SYVCCMPL',
 'DRNKPARK',
 'TLGR-REC',
 'BLDPLH',
 'RSTRTN,T',
 'HTS-STP',
 'LANDSLDE',
 'TLGR-PRK',
 'HANDRL',
 'BCYCOBST',
 'PLMB HAZ',
 'REPLCE35',
 'PAVERS',
 'RDNTHOTL',
 'SWAP18',
 'RECSRVCP',
 'BCYCRACK',
 'BLD-DCOR',
 'VHCLPRGS',
 'BRDG,PTH',
 'LTTR-CDV',
 'LTTR-POL',
 'SCARPOOR',
 'UTILASPH',
 'FREPREVI',
 'TREEPARK',
 'BEAUPARK',
 'BCYCLSTN',
 'PRKNMTRR',
 'SPDHMPS,',
 'LTTR-PFC',
 'SCREGELM',
 'SCH_ROAC',
 'BLD-DISV',
 'STERMDES',
 'LIFESAFF',
 'SRVCPLGS',
 'AAADACCC',
 'NMLBTRP',
 'TRREPR65',
 'TRASH-RE',
 'TRREPR95',
 'POTHPARK',
 'LGHTPARK',
 'GCWW_INQ',
 'WASPPARK',
 'BCYCLABN',
 'INTERM',
 'BLDUNSC',
 'BLD-RCO',
 'SGN_TNW',
 'SGNSHPNE',
 'MIDDLE',
 'HOMEOWNF',
 'SIGNOPLE',
 'TLGR-CDP',
 'TLGR-HLT',
 'DBLSGNL',
 'PLCJUNKV',
 'CLG-INLT',
 'SRVCMPLC',
 'ELECNOPW',
 'GRFITI-H',
 'ATTNRP',
 'AARANACC',
 'SVCCMPWW',
 'HIGH',
 'SCH_GNRL',
 'BARRIC-H',
 'SCHLCFTC',
 'LTTR-CWW',
 'RCYCLNSR',
 'TMPRRYRP',
 'FDOOR_MD',
 'PVMTPRDR',
 'CNSTRCTN']

In [44]:
tf_idf = TfidfVectorizer()

In [45]:
dt = tf_idf.fit_transform(unique_codes)
clf = AgglomerativeClustering(n_clusters=10, affinity=cosine_similarity, linkage="complete")
model = clf.fit_predict(dt.toarray())

In [46]:
model

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 5, 3,
       5, 3, 5, 3, 5, 3, 5, 3, 5, 3, 6, 3, 5, 6, 3, 5, 6, 3, 5, 6, 3, 5,
       6, 5, 3, 6, 5, 3, 6, 5, 3, 6, 5, 3, 6, 5, 3, 6, 5, 3, 6, 5, 3, 6,
       5, 3, 6, 3, 5, 6, 3, 6, 9, 5, 3, 6, 9, 5, 3, 6, 9, 5, 3, 6, 9, 5,
       3, 6, 9, 5, 3, 6, 9, 5, 3, 6, 9, 5, 3, 6, 9, 5, 3, 6, 9, 5, 3, 6,
       9, 5, 3, 6, 9, 5, 3, 6, 9, 5, 3, 7, 6, 9, 5, 3, 7, 6, 9, 5, 7, 3,
       6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9,
       5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7,
       3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 6,
       9, 5, 7, 3, 6, 9, 5, 7, 3, 6, 9, 5, 7, 3, 9, 6, 5, 7, 3, 9, 6, 5,
       7, 3, 9, 6, 5, 7, 3, 9, 6, 5, 7, 3, 9, 6, 5, 7, 3, 9, 6, 5, 9, 7,
       3, 6, 5, 9, 7, 3, 6, 5, 9, 7, 3, 6, 5, 9, 7, 3, 6, 5, 9, 7, 3, 6,
       5, 9, 7, 3, 2, 6, 5, 9, 7, 3, 4, 2, 6, 9, 5, 7, 3, 4, 2, 6, 9, 5,
       3, 7, 1, 4, 2, 6, 9, 5, 3, 7, 1, 4, 2, 6, 9, 3, 5, 7, 1, 4, 2, 6,
       9, 5, 3, 7, 1, 4, 2, 6, 9, 5, 3, 8, 7, 1, 4, 2, 6, 9, 5, 8, 3, 7,
       1, 4, 6, 2, 9, 8, 5, 3, 7, 1, 4, 6, 0, 2, 9, 8, 7, 5, 3, 1, 4, 6,
       0, 2, 9, 1, 8, 7, 1, 5, 3, 4, 6, 0, 2, 1, 9, 8, 7, 1, 5, 3, 4, 6,
       0, 0, 2, 1, 9, 8, 1, 0, 7, 5, 3, 4, 6, 0, 2, 1, 9, 8, 1, 0, 7, 6,
       5, 3, 4, 0, 2], dtype=int64)

In [47]:
model_results_df = pd.DataFrame([unique_codes, model]).T
model_results_df.columns = ["service_name", "cluster_class"]

In [48]:
model_results_df

    service_name cluster_class
0        BLD-RES             5
1       PLMB_DEF             5
2       HNDCPPRK             5
3       GRCRYCNC             5
4        ROACHES             5
..           ...           ...
396     RCYCLNSR             5
397     TMPRRYRP             3
398     FDOOR_MD             4
399     PVMTPRDR             0
400     CNSTRCTN             2

[401 rows x 2 columns]

In [51]:
for i in model_results_df.cluster_class.unique():
    display(model_results_df[model_results_df.cluster_class == i])

    service_name cluster_class
0        BLD-RES             5
1       PLMB_DEF             5
2       HNDCPPRK             5
3       GRCRYCNC             5
4        ROACHES             5
..           ...           ...
347     SCARPOOR             5
359     STERMDES             5
370     WASPPARK             5
383     PLCJUNKV             5
396     RCYCLNSR             5

[93 rows x 2 columns]

    service_name cluster_class
19      MICE-BLD             3
21      DOG_WSTE             3
23         PAVMK             3
25      DFLTPARK             3
27      SGNSHPNI             3
..           ...           ...
348     UTILASPH             3
360     LIFESAFF             3
371     BCYCLABN             3
384     CLG-INLT             3
397     TMPRRYRP             3

[76 rows x 2 columns]

    service_name cluster_class
32       BLD-COM             6
35      TRTRIMUF             6
38      RCNEWLIC             6
41      NCRHMNT,             6
44      SRVCMPCS             6
..           ...           ...
351     BEAUPARK             6
362     AAADACCC             6
373      BLDUNSC             6
386     ELECNOPW             6
395     LTTR-CWW             6

[70 rows x 2 columns]

    service_name cluster_class
74      LTTR-BLD             9
78      BLD_COLL             9
82      BUSSTRSP             9
86       ZONCCER             9
90      MLDCHLDR             9
94       VDRPRCW             9
98      FDBRNCMP             9
102        USE_C             9
106       ERC_PV             9
110     PARKINGC             9
114     BLD_RFIC             9
118     NMPRVDST             9
123      SIGN_ZR             9
128     PAVEMARK             9
133     PRIVUTAB             9
138       EXIT_B             9
143      BENCHES             9
148     HOLEPR-H             9
153     STERMSAF             9
158     CITYCONI             9
163       REMOVE             9
168     MSSNGPRP             9
173     NEW96CRT             9
178      DFLTPLC             9
183     TSIG-MAL             9
188        LTSTT             9
193      CURBREP             9
198     BLKYTMST             9
203     REPLCE96             9
208     SRVCMPLR             9
212     MTL-FRNS             9
217     TREESPLT             9
222        STSGN             9
227     SCARACCS             9
232      STRRPRG             9
237     PRKNGMTR             9
240      TRASH-E             9
245      SNKNRRP             9
250      DFLTMSD             9
255      BDBGSRQ             9
260     WASTECMP             9
265     FENC-REP             9
271     SCARCRIM             9
277     THORN-UF             9
284     IN-CLSPD             9
292      DFLTRCR             9
300     STORGHOT             9
308     REPLCE18             9
316     CTZNCMPL             9
325     SYVCCMPL             9
334     BCYCOBST             9
344     BRDG,PTH             9
354     SPDHMPS,             9
366     TRREPR95             9
378     HOMEOWNF             9
390     SVCCMPWW             9

    service_name cluster_class
121     BLD-ELEH             7
126     BLDFRFAC             7
130     TLGR-PRB             7
135     LIGHREMV             7
140     DWAYPPST             7
145     HISTMARC             7
150      FRDRLCK             7
155       TRREPR             7
160       PTHOLE             7
165     YDWSTA-J             7
170      TRASH-I             7
175       SCLEN1             7
180     STRTLITE             7
185      STTSRVC             7
190     YRDWSTTC             7
195       SLPYST             7
200     STRTPLTM             7
205     SRVCMPLT             7
210      SRVCOMG             7
215     ILLHOMEC             7
220     STERMNOI             7
225      ANNUALC             7
230     MNHLCVRM             7
235     FENCMTLC             7
241     CAVEIMSD             7
246     CRNCAN-D             7
251     NW-MSSNG             7
256     RLCTNRQS             7
261     DMPSTR-H             7
266       BARRIC             7
272       DMGCLM             7
279     DFLTPRKG             7
287     MDDVSWNO             7
295       DNS-IN             7
303     VFLSHFIL             7
311     6MNTHNSP             7
320     SCARSCLN             7
329     RSTRTN,T             7
338     RDNTHOTL             7
346     LTTR-POL             7
357     SCH_ROAC             7
368     LGHTPARK             7
382      DBLSGNL             7
394     SCHLCFTC             7

    service_name cluster_class
268     TLGR-BLD             2
275     NFRMTNRQ             2
282     SCHLANNL             2
290     SGNL_TNW             2
298     LTTR-REC             2
306     YRD-WSTE             2
314     TRSBLCKS             2
323     RLRDSCOM             2
333       HANDRL             2
343     VHCLPRGS             2
353     PRKNMTRR             2
364     TRREPR65             2
376     SGNSHPNE             2
388       ATTNRP             2
400     CNSTRCTN             2

    service_name cluster_class
274     BLD-ELVP             4
281     RCNBTSRM             4
289     LTTR-PRK             4
297     TLGR-DTE             4
305      GYMSHSW             4
313     LOT_VACE             4
322     HIKEPARK             4
331     LANDSLDE             4
340     RECSRVCP             4
350     TREEPARK             4
361     SRVCPLGS             4
372       INTERM             4
385     SRVCMPLC             4
398     FDOOR_MD             4

    service_name cluster_class
288     BLD-ELIC             1
296     VOID-REP             1
304      MSQTSPN             1
312     PDSTLLGH             1
321      MDDVSRY             1
330      HTS-STP             1
339       SWAP18             1
349     FREPREVI             1
355     LTTR-PFC             1
358     BLD-DISV             1
365     TRASH-RE             1
369     GCWW_INQ             1
377       MIDDLE             1
380     TLGR-CDP             1
389     AARANACC             1
392     SCH_GNRL             1

    service_name cluster_class
319     BLD-DUNS             8
327     TLGR-REC             8
335     PLMB HAZ             8
345     LTTR-CDV             8
356     SCREGELM             8
367     POTHPARK             8
379     SIGNOPLE             8
391         HIGH             8

    service_name cluster_class
342     BLD-DCOR             0
352     BCYCLSTN             0
363      NMLBTRP             0
374      BLD-RCO             0
375      SGN_TNW             0
381     TLGR-HLT             0
387     GRFITI-H             0
393     BARRIC-H             0
399     PVMTPRDR             0